<div class="footer">
    <div class="container">
        <div class="footer-top d-flex">
            <div class="footer-about d-flex jcsb aic pb24">
                <ul class="web d-flex gap48">
                    <li>
                        <a class="footer-link" href="index.html">
                            首頁
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="#">
                            系列鏡框
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="store.html">
                            門市據點
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="#">
                            部落格
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="faq.html">
                            常見問題
                        </a>
                    </li>
                </ul>
                <ul class="d-flex gap32">
                    <li class="ml8">
                        <a href="#">
                            <img src="../assets/images/ic-social-fb.png" alt="fb_pic">
                        </a>
                    </li>
                    <li class="ml8">
                        <a href="#">
                            <img src="../assets/images/ic_social_ig.png" alt="ig_pic">
                        </a>
                    </li>
                    <li class="ml8">
                        <a href="#">
                            <img src="../assets/images/ic_social_line.png" alt="line_pic">
                        </a>
                    </li>
                </ul>                                      
            </div>
            <ul>
                <li class="pb8">
                    <a href="tel:+0800-000-000" class="footer-link d-flex aic">
                        <span class="material-icons-outlined f36">call</span>
                        <h3 class="footer-contact">0800-000-000</h3>
                    </a>
                </li>
                <li>
                    <a href="mailto:glasses@business.com" class="footer-link d-flex aic">
                        <span class="material-icons-outlined f40">mail</span>
                        <h3 class="footer-contact">glasses@business.com</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-buttom d-flex aic jcsb">
            <div class="copyright">
                <p class="Roboto">Copyright © 2020 Glasses.All rights reserved.</p>
            </div>
            <div class="policy d-flex gap48">
                <a href="#">
                    <h6>隱私權政策</h6>
                </a>
                <a href="#">
                    <h6>服務條款</h6>
                </a>
            </div>
        </div>
    </div>
</div>