<div class="header">
    <div class="container aic navbar-wrap">
        <a href="../pages/index.html" class="nav-icon">
            Glasses
        </a>
        <ul class="nav-title d-flex">
            <li class="nav-d-title">
                <a href="#" class="nav-link">
                    <h5>系列鏡框</h5>
                </a>
            </li>
            <li class="nav-d-title">
                <a href="../pages/store.html" class="nav-link">
                    <h5>門市據點</h5>
                </a>                
            </li>
            <li class="nav-d-title">
                <a href="#" class="nav-link">
                    <h5>部落格</h5>
                </a>
            </li>
            <li class="nav-d-title">
                <a href="../pages/faq.html" class="nav-link">
                    <h5>常見問題</h5>
                </a>
            </li>
        </ul>
    </div>
</div>