<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head'); -%>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container red-blood banner-item d-flex fd-column tar">
          <h3>
              Promise-Desert 2020 早春系列
          </h3>
          <h1 class="fw-bold mb4">
              看得清，才能看得遠
          </h1>
          <a href="#" class="fw-medium asfe">
              <h5>立即購買</h5>
          </a>
      </div>
    </div>
    <div class="about ptb-80">
        <div class="container tac">
            <h2 class="title fw-bold red-blood">
                用專業的心，做專業的事
            </h2>  
            <ul class="d-flex gap24">
                <li class="item">
                    <img class="item-pic" src="../assets/images/home-section2-1.png" alt="價格圖">
                    <h4 class="fw-bold red-blood mb-8">單一價格</h4>
                    <p class="tal">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                </li>
                <li class="item">
                    <img class="item-pic" src="../assets/images/home-section2-2.png" alt="可取件圖">
                    <h4 class="fw-bold red-blood mb-8">20 分鐘即可取件</h4>
                    <p class="tal">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快20 分鐘即可完成。</p>
                </li>
                <li class="item">
                    <img class="item-pic" src="../assets/images/home-section2-3.png" alt="售後服務圖">
                    <h4 class="fw-bold red-blood mb-8">安心售後服務</h4>
                    <p class="tal">我們提供長達120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                </li>
                <li class="item">
                    <img class="item-pic2" src="../assets/images/home-sectioin2-4.png" alt="關於鏡片圖">
                    <h4 class="fw-bold red-blood mb-8">關於鏡片</h4>
                    <p class="tal">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="classical ptb-80">
        <div class="container tac">
            <div class="red-blood fw-bold ul-clac">
                <h2 class="mb48">經典系列鏡框</h2>
            </div>
            <ul class="primary d-flex Roboto fw-R-bold gap24 ul-clac">
                <li class="clac change_color">
                    <img src="../assets/images/home-section3-1.png" alt="optical_pic">
                    <h2 class="mt-8 italic">OPTICAL</h2>
                </li>
                <li class="clac change_color">
                    <img src="../assets/images/home-section3-2.png" alt="sunglasses_pic">
                    <h2 class="mt-8 italic">SUNGLASSES</h2>
                </li>
                <li class="clac change_color">
                    <img src="../assets/images/home-section3-3.png" alt="functional_pic">
                    <h2 class="mt-8 italic">FUNCTIONAL</h2>
                </li>
            </ul>
        </div>
    </div>
    <div class="design ptb-80">
        <div class="container tac">
            <div class="design_title fw-bold mb48">
                <h2>聯名設計鏡框</h2>
            </div>
            <ul class="primary d-flex Roboto fw-R-bold">
                <li class="bg-w change_color">
                    <img src="../assets/images/home-section4-1.png" alt="">
                    <h2 class="italic">DOUBLE A+</h2>
                </li>
                <li class="bg-w change_color">
                    <img src="../assets/images/home-section4-2.png" alt="">
                    <h2 class="italic">YOUTH</h2>
                </li>
            </ul>
        </div>
    </div>
    <div class="recommend ptb-80">
        <div class="container red-blood tac">
            <div class="mb48 fw-bold">
                <h2>顧客推薦</h2>
            </div>
            <ul class="d-flex tal gap24 bk">
                <li>
                    <img src="../assets/images/home-section5-1.png" alt="">
                    <div class="p16">
                        <p class="fw-medium pb8">Jessy</p>
                        <p class="pb72 mb24">
                            眼鏡品質優良，下次還會想來這邊購買！
                        </p>             
                        <h6 class="gray">2021/06/20</h6>
                    </div>
                    
                </li>
                <li>
                    <img src="../assets/images/home-section5-2.png" alt="">
                    <div class="p16">
                        <p class="fw-medium pb8">凱倫</p>
                        <p class="pb72">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                        <h6 class="gray">2021/04/18</h6>
                    </div>                   
                </li>
                <li>
                    <img src="../assets/images/home-section5-3.png" alt="">
                    <div class="p16">
                        <p class="fw-medium pb8">悠悠</p>
                        <p class="pb72">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                        <h6 class="gray">2020/12/25</h6>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/home-section5-4.png" alt="">
                    <div class="p16">
                        <p class="fw-medium pb8">Kyuan</p>
                        <p class="pb72 mb24">
                            服務很好，品質沒有任何問題，非常喜歡。
                        </p>
                        <h6 class="gray">2020/10/31</h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="contact ptb-80">
        <div class="container contact-us tac">
            <div class="red-blood mb48 fw-bold">
                <h2>聯絡我們</h2>
            </div>
            <div class="tal">
                <h5 class="pb24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，
                    若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</h5>
                <ul class="d-flex item mb48">
                    <li>
                        <label for="name">姓名</label>
                        <br>
                        <input class="input" type="text" name="name" id="name" placeholder="陳小明">
                    </li>
                    <li>
                        <label for="tel">聯絡電話</label>
                        <br>
                        <input class="input" type="tel" name="tel" id="tel" placeholder="0912-345-678">
                    </li>
                    <li>
                        <label for="email">電子郵件</label>
                        <br>
                        <input class="input" type="email" name="email" id="email" placeholder="example@email.com">
                    </li>
                    <li>
                        <label for="textarea">意見反應</label>
                        <br>
                        <textarea class="input resize-none" name="textarea" id="textarea" cols="30" rows="10" placeholder="請輸入您的意見"></textarea>
                    </li>
                    <li>
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <label for="checkbox">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                        <br>                        
                    </li>
                </ul>
                <div class="submit tac">
                    <a class="btn fw-bold" href="#">
                        確認送出
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
