<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head'); -%>
  <body>
    <%- include('./layout/header'); -%>

    <div class="store">
        <div class="container">
            <div class="title">
              <h2 class="fw-R-bold mb32">門市據點</h2>
              <div class="detail d-flex">
                <span class="mr16">選擇地區</span>
                <select name="country" id="country" class="select_country">
                    <option value="台北市">台北市</option>
                    <option value="台中市">台中市</option>
                    <option value="高雄市">高雄市</option>
                </select>
              </div>
              <ul class="store_item d-flex">
                <li class="store_img">
                    <img src="../assets/images/store-1.png" alt="台北中山旗艦店_pic">
                    <h4>台北中山旗艦店</h4>
                    <div class="store_info">
                        <ul>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">call</span>
                                <h5>電話：(02)000-1234</h5>
                            </li>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">schedule</span>
                                <h5>營業時間：10:00-21:00</h5>
                            </li>
                            <li class="d-flex aib">
                                <span class="material-icons-outlined">location_on</span>
                                <h5>地址：台北市中山區南京東路25巷2-1號</h5>
                            </li>
                        </ul>
                    </div>
                    <a href="../pages/branchstore.html">詳細資訊</a>
                </li>
                <li class="store_img">
                    <img src="../assets/images/store-2.png" alt="台北綠園店_pic">
                    <h4>台北綠園店</h4>
                    <div class="store_info">
                        <ul>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">call</span>
                                <h5>電話：(02)000-2345</h5>
                            </li>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">schedule</span>
                                <h5>營業時間：10:00-21:00</h5>
                            </li>
                            <li class="d-flex aib">
                                <span class="material-icons-outlined">location_on</span>
                                <h5>地址：台北市中正區復興南路 132-1 號</h5>
                            </li>
                        </ul>
                    </div>
                    <a href="../pages/branchstore.html">詳細資訊</a>
                </li>
                <li class="store_img">
                    <img src="../assets/images/store-3.png" alt="台中清水旗艦店_pic">
                    <h4>台中清水旗艦店</h4>
                    <div class="store_info">
                        <ul>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">call</span>
                                <h5>電話：(02)000-1234</h5>
                            </li>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">schedule</span>
                                <h5>營業時間：10:00-21:00</h5>
                            </li>
                            <li class="d-flex aib">
                                <span class="material-icons-outlined">location_on</span>
                                <h5>地址：台中市清水區經南一路 23 號 8 樓</h5>
                            </li>
                        </ul>
                    </div>
                    <a href="../pages/branchstore.html">詳細資訊</a>
                </li>
                <li class="store_img">
                    <img src="../assets/images/store-4.png" alt="高雄中正形象店_pic">
                    <h4>高雄中正形象店</h4>
                    <div class="store_info">
                        <ul>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">call</span>
                                <h5>電話：(07)000-2345</h5>
                            </li>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">schedule</span>
                                <h5>營業時間：10:00-21:00</h5>
                            </li>
                            <li class="d-flex aib">
                                <span class="material-icons-outlined">location_on</span>
                                <h5>地址：高雄市苓雅區中正路 38 號 12 樓</h5>
                            </li>
                        </ul>
                    </div>
                    <a href="../pages/branchstore.html">詳細資訊</a>
                </li>
                <li class="store_img">
                    <img src="../assets/images/store-5.png" alt="高雄夢時代店_pic">
                    <h4>高雄夢時代店</h4>
                    <div class="store_info">
                        <ul>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">call</span>
                                <h5>電話：(07)000-1234</h5>
                            </li>
                            <li class="d-flex mb8 aic">
                                <span class="material-icons-outlined">schedule</span>
                                <h5>營業時間：10:00-21:00</h5>
                            </li>
                            <li class="d-flex aib">
                                <span class="material-icons-outlined">location_on</span>
                                <h5>地址：高雄市前鎮區中華一路 63 號 6 樓</h5>
                            </li>
                        </ul>
                    </div>
                    <a href="../pages/branchstore.html">詳細資訊</a>
                </li>
              </ul>
            </div>            
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
